@charset "UTF-8";

:root {
  --gray-dark: #384148;
  --gray-medium: #a29994;
  --gray-normal: #dac9bf;
  --beige-medium: #fac4a0;
  --beige-normal: #f9e9dc;
  --beige-clean: #fbf2ed;

  --preto: #0c0c0cfb;
}
/*  MEDIA QUERIES  --------------------------*/
@media (max-width: 767px) {
  header nav i,
  header nav p {
    font-size: 1rem;
  }
  .overlay h1 {
    font-size: 2rem;
    text-align: center;
  }
  .overlay .txt-animado {
    font-size: 1.3rem;
  }
   /*section about me*/
   section.about { 
    height: auto; 
  }
  .skill i {
    font-size: 2.5rem;
  }
  #left h3 {
    font-size: 1.4rem;
    width: 100%;
  }
  #left {
    font-size: .9rem;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
  }
  #experience {
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
  }
  .card {
    width: 100%;
    height: auto; 
    font-size: .9rem;
  }
  img {
    height: 20%;
    width: auto;
    max-width: 200px;
  }
  /*section projects*/
  .container-projects {
    height: auto;
  }
  .back p {
    font-size: 0.8rem;
  }
  footer {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  header {
    background-color: var(--beige-normal);
    padding: 5px 21px;
    max-width: 100%;
  }
  main {
    width: 100%;
    max-width: 100%;
  }
  header .logo p,
  header .logo i,
  header .mobile-menu-icon i {
    color: var(--gray-dark);
  }
  header.rolagem i {
    color: var(--gray-dark);
  }
  nav {
    padding: 5px 21px;
  }
  nav ul li {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .mobile-menu ul li {
    display: block;
    padding: 1rem 4rem;
  }
  .mobile-menu a {
    text-decoration: none;
    background-color: var(--gray-medium);
    color: var(--beige-clean);
    padding: 10px 30px;
    border-radius: 50px;
  }
  .open {
    display: block;
  }
  /*section about me*/
  section.about .container-top {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 8%;
    gap: 40px;
  }
  /*section projects*/
  .projects {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .container-flip {
    width: 90vw;
    height: 60vh;
    max-width: 600px;
    max-height: 500px;
  }
}
